nav{
    text-transform: uppercase;
    background-color: $element;
    padding: 0 5%;
    & .navbar-title {
        font-size: 2.25rem;
    } 
    & .nav-link {
        font-size: 1.125rem;
        font-family: $nav-link-font;
        color: $text;
    }  
    & .container-fluid {
        padding: 0;
    }
}
