$active: #C32C72;
$page: #E5E5E5;
$element: #F4F3EE;
$text: #8D8D8D;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow&display=swap');

$main-font: 'Open Sans', sans-serif;
$nav-link-font: 'Archivo Narrow', sans-serif;
